@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

.grandstander {
  font-family: "Grandstander", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*farver*/
  --color-bg-100: #faf0e4;
  --color-bg-500: #f1e5d8;
  --color-prim-500: #ff5900;
  --color-groen-500: #7b8b6f;

  /*Fonte*/
  --font-grandstander: "Grandstander", cursive;
  --font-raleway: "Raleway", sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}
@layer utilities {
}
